@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.mainWrapper {
	margin: 40px;
}

.title {
	text-align: center;
}

.linksDiv {
	border-bottom: 3px solid black;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
	font-size: 14pt;
}

.displayDiv {
	display: flex;
	margin-top: 40px;
}

.productList, .categoryList {
	flex: 1;
}

.header {
	border: 3px solid black;
	text-align: center;
}

.list {
	border: 3px solid black;
	border-top: 1px solid black;
	height: 300px;
	overflow: auto;
}

li {
	margin-top: 10px;
}

.form {
	border: 3px solid black;
	margin-top: 30px;
	padding: 20px;
	width: 50%;
}

.formItem {
	display: flex;	
	margin-top: 10px
}

.formItem label {
	flex: 1;
} 

.formItem input {
	flex: 2;
}

.errors {
	color: red;
}

.btnDiv {
	display: flex;
	justify-content: right;
	margin-top: 10px;
}

.showBody {
	border-bottom: 3px solid black;
	margin: 30px 0px;
	padding-bottom: 20px;
}

.selectForm {
	margin-bottom: 10px;
	padding: 2px;
	width: 150px;
}